body, html
{
    font-size: 16px !important;
}

.nav__item
{
    padding: 15px 25px !important;
    margin: 2px !important;
}

.main__content
{
    width: 80% !important;
    margin: 0 auto !important;
}

.ui-button
{
    padding: 10px 25px !important;
}

@media screen and (min-width: 10%) and (max-width: 100%) {

}
/* body { margin:0;padding:0;background:#000;  overflow: hidden;} */
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #1a1a1a;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #5a99ce;
    border-radius: 9em;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/



.layout {
    margin-top: 0px;

}

.parallax__layer:nth-of-type(1) {
    margin-top: 0px;

}


.linia {
    position: fixed; /* Фиксированное положение */
    left: 0; top: 0; /* Левый нижний угол */
    padding: 3vh; /* Поля вокруг текста */
    background: #1a1a1a; /* Цвет фона */
    color: #8a8a8a; /* Цвет текста */
    font-family: 'Arial Rounded MT';
    width: 100%; /* Ширина слоя */
   }


.linia2{
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 1vh; /* Поля вокруг текста */
    background: #1a1a1a; /* Цвет фона */
    color: #8a8a8a; /* Цвет текста */
    font-family: 'Arial Rounded MT';
    width: 100%; /* Ширина слоя */
   }



.text1{
    color: white;
}

